<h1>Listing slides for <%= @slide_show.title %></h1>

<ul class="choices">
  <li><%= link_to 'New slide', new_admin_slide_show_slide_path(@slide_show) %></li>
</ul>  

<table>
  <thead>
    <tr>
      <%= sortable_table_header :name => "Position",  :sort => "position" %>
      <th>Image</th>
      <%= sortable_table_header :name => "Title",  :sort => "title" %>
      <td>Status</td>
      <%= sortable_table_header :name => "Published At",  :sort => "published_at" %>
      <%= sortable_table_header :name => "Published To",  :sort => "published_to" %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
<% @slides.each do |slide| %>
    <tr>
      <th><%=h (slide.position || 0) + 1 %></th>
      <td><%= image_tag slide.public_filename, :width => 100 unless slide.filename == 'no_file' %></td>
      <td><%=h slide.title %></td>
      <td><%= content_status(slide) %></td>
      <td><%=h slide.published_at.strftime('%d %b') unless slide.published_at.blank? %></td>
      <td><%=h slide.published_to.strftime('%d %b') unless slide.published_to.blank? %></td>
      <td>
        <%= link_to 'Move Up', move_up_admin_slide_path(slide), :class => 'move-up' unless slide.first? %>
        <%= link_to 'Move Down', move_down_admin_slide_path(slide), :class => 'move-down' unless slide.last? %>
        <%= link_to 'Edit', admin_slide_path(slide), :class => 'edit' %>
        <%= link_to 'Destroy', admin_slide_path(slide), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
      </td>
    </tr>
<% end %>
  <tbody>

  <tfoot>
    <tr>
      <%= sortable_table_header :name => "Position",  :sort => "position" %>
      <th>Image</th>
      <%= sortable_table_header :name => "Title",  :sort => "title" %>
      <td>Status</td>
      <%= sortable_table_header :name => "Published At",  :sort => "published_at" %>
      <%= sortable_table_header :name => "Published To",  :sort => "published_to" %>
      <th>Actions</th>
    </tr>
  </tfoot>

</table>
