<h1>Editing slide</h1>

<% form_for([:admin, @slide], :html => { :multipart => true}) do |f| %>
  <%= f.hidden_field :slide_show_id %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :strapline %><br />
    <%= f.text_field :strapline %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :uploaded_data, "Image" %><br />
    <%= f.file_field :uploaded_data %>
  </p>
  <div class="module">
	
  <%= publish_select(f) %>
  
  <p class="submission">
    <%= f.submit 'Publish', :name => 'slide[publish]' %>
    <%= f.submit 'Save as draft', :name => 'slide[hide]' %>
     or <%= link_to 'Cancel', admin_slide_show_slides_path(@slide.slide_show_id) %>
  </p>
    </div>
<% end %>

<% content_for :sub_content do %>
	<h2>Current Image</h2>
	<%= image_tag @slide.public_filename(), :width => '100%' %>
<% end unless @slide.new_record? or @slide.filename == 'no_file' %>
