<h1><%= @slide_show.new_record? ? 'New' : 'Editing' %> slide_show</h1>

<% form_for([:admin, @slide_show]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p class="submission">
    <%= f.submit @slide_show.new_record? ? 'Create' : 'Update', :disable_with => 'Submitting...' %> or <%= link_to 'Cancel', admin_slide_shows_path %>
  </p>
<% end %>

